.main {
    padding-top: 70px;
}

.main-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 70px;

    border-bottom: solid;
    border-width: 10px;
    border-color: #EA9308;
    
}