.navbar-float-above {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, 0)
}

.menu-float-left {
    position: fixed;
    z-index: 99;
    left: 100%;
    transform: translate(-100%, 0);
    margin-top: 15vh;
    float: left;
}

.menu-container {
    background-color: #EA9308;
    transition: all 300ms;
    border-radius: 10px 0 0 10px;
}

.menu-container:hover {
    background-color: orange;
    transition: all 300ms;
}

